body{
    padding-top: 70px;
}
main .container{
    background-color: white;
}
.jumbotron{
    background: url(./images/ipl_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}


/* .jumbotron{
    color: #2c3e50;
} */

.algn{
    text-align: center;
}

/* .navbar{
    background: #2c3e50;
} */

.thumbnail a img{
    width: 100px;
    height: 100px;
}

/* .navbar-inverse .navbar-nav > li > a ,
.navbar-inverse .navbar-brand{
    color: white
} */

h4{
    text-align: center;
    color: blueviolet;
}

.thumbnail{
    width: auto;
    height: 150px;
    margin: 50px auto 50px;
    
}